.home{
    padding: 8rem 0 2rem;
}
.home__container{
    row-gap: 4rem;
}
.home__content{
    grid-template-columns: 116px repeat(2, 1fr);
    
    column-gap: 2rem;
    align-items: center;
}
.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap:1rem;
}
.home__social-icon{
     font-size: 1.25rem;
     color: var(--grey-20);
}
.home__social-icon:hover{
    color: var( --grey-10);
}
.home__title{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb0-25);
}
.home__hand{
     width: 38px;
     height: 38px;
     margin-left: 0.4rem;
}
.home__subtitle{
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 5.4rem;
    font-weight: var(--font-normal);
    margin-bottom:var(--mb-1);
}
.home__subtitle::before{
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--grey-20);
    left: 0;
    top: 1rem;
}
.home__description{
    max-width: 400px;
    margin-bottom: var(--mb-3);
}
.home__img{
    background: url(../home/photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px var( --grey-10);
    order: 1;
    justify-self: center;
    width: 300px;
    height: 300px;
    animation: profile__animate 8s ease-in-out infinite 1s;

}

@keyframes profile__animate {
    0%{
        border-radius:60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius:30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius:60% 40% 30% 70%/60% 30% 70% 40%;
    }
}
.home__scroll{
    margin-left: 9.25rem;

}
.wheel{
     animation: scroll 2s ease infinite;
}
@keyframes scroll {
    0%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(3.7rem);
    }
    
}
.home__scroll-name{
    color: var(--grey-20);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    margin-left: 2px;
}
.home__scroll-arrow{
    font-size: 1.2rem;
    color: var(--grey-20);
}


.skill__icon{
    text-align: center;
}
.box__content{
    grid-template-columns: repeat(3 ,1fr);
   

}
.box{
    background-color:var(--purple-99);
    padding: 1rem;
}
.skill__icon{
    margin: 1rem;
}
.skill__m{
    margin-top: 0.825rem;
    text-align: left;
}

.benefit__content{
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 1.5rem;

}
.benefit__content1{
    grid-template-columns: repeat(3,1fr);
    width: 100%;
}
.thumb{
   
    text-align: center;
}
.work__content{
    grid-template-columns: repeat(3, 1fr);
}
.work__header{
    font-weight: var(--font-normal);
}
.button__flex{
    text-align: center;
    padding: 1rem;
}
.content__box{
    background-color: var(--peach-92);
    margin: 1rem;
}
.faq__answers{
    display: flex;
    width: 96%;
    padding: 1rem;
    font-size: var(--small-font-size);

}
.question__content{
    display: flex;
    padding: 1rem;
}
.question{
    width: 95%;
}

.faq__Plus{
    font-size: larger;
}
.show-answer{
    display:none;
}
.faq__icon,.title{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.faq{
    grid-template-columns:auto 30%;
    
}


/*=============== BREAKPOINTS ==============*/
/* For large devices */
@media screen and (max-width: 992px) {
    
    .home__content{
        grid-template-columns: 100px repeat(2,1fr);
        column-gap: 1.25rem;
    }
     .home__hand{
        width: 26px;
        height: 26px;
     }
     .home__subtitle{
        padding-left: 3.75rem;
        margin-bottom: var(--mb-1);
     }
     .home__description{
        max-width: initial;
        margin-bottom: var(--mb-2-5);
     }
     .home__img{
        width: 250px;
        height: 250px;
        box-shadow: inset 0 0 0 8px rgba(225, 225, 255/30%);
     }
     .home__scroll{
        margin-left: 7.5rem;
     }
     .box__content{
        grid-template-columns: repeat(3,1fr);
     }
     .benefit__content{
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 1.5rem;
    }
    .benefit__content1{
        grid-template-columns: repeat(3,1fr);
        width: 100%;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .home{
        padding: 0.555rem;
    }
    .home__content{
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3rem;
    }
    .home__img{
        order: initial;
        justify-self: initial;
    }
    .home__data{
        grid-column: 1/3;
    }
    .home__img{
        box-shadow: inset 0 0 0 6px rgba(225, 225, 255/30%);
        width: 200px;
        height: 200px;  
    }
    .home__scroll{
        display: none;
    }
   
   
  }
  @media screen and (max-width: 686px) {
    .box__content{
        grid-template-columns: repeat(2,1fr);
     }
     .benefit__content{
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 1.5rem;
    
    }
    .benefit__content1{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
    .work__content{
        grid-template-columns: repeat(1, 1fr);
    }
    
  }
  @media screen and (max-width: 537px) {
    .box__content{
        grid-template-columns: repeat(1,1fr);
    }
    .faq{
        grid-template-columns:repeat(1,1fr);
        
    }


  }
  
  
  /* For small devices */
  @media screen and (max-width: 370px) {
    .home__img{
        width: 180px;
        height: 180px;
    }
    .home__hand{
        width: 22px;
        height: 22px;
    }
    
  
    
  }
  
