.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    
}
.nav{
    height: calc(var(--header-height)+1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    padding: 1rem 1.5rem 1rem;
    color: var(--grey-20);
}
.nav__logo{
    font-size: var(--h1-font-size);
}
/*
.nav__menu{
  
    width: 100%;
   
    padding: 1rem 1.5rem 1rem;
   
   
    transition: .3s;
}
*/
.nav__logo,.nav__toggle{
    color: var(--grey-20);
    font-weight: var(--font-medium);
}
.nav__list{
    display: flex;
    column-gap: 2rem;
}
.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
}
.nav__close,.nav__icon,.nav__toggle{
    display: none;
}
/*==active link*/
.active-link,
.nav__link{
    color: var(--grey-10);
}
.uil-bars{
    font-size: var(--h1-font-size);
}

@media screen and (max-width:768px) {
    
    .nav{
        height: var(--header-height);
    }
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--purple-97);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0,0,0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
    .show-menu{
        bottom: 0;
    }
    .nav__list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .nav__icon{
        font-size: 1.2rem;
    }
    .nav__close{
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--grey-20);
    }
    .nav__close:hover{
        color: var(--grey-10);
    }
    .nav__toggle{
        font-size: 1.1rem;
        cursor: pointer;
    }
    .nav__close,.nav__icon,.nav__toggle{
        display: block;
    }
    .nav__button{
        display: none;
    }

}

@media screen and (max-width:350px) {
    .nav__menu{
        padding: 2rem 2rem 4rem;
    }
    .nav__list{
        column-gap: 0;
    }
          
}
